/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
//loader

//our css
$pri: #bb2e1f;
$sec: #ebebeb;
.container {
  max-width: 1300px;
  margin: 0 auto;
}
body {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.flex {
  display: flex;
}
.jsb {
  justify-content: space-between;
}
.fw {
  flex-wrap: wrap;
}
.center {
  justify-content: center;
  align-items: center;
}
.flex-30 {
  flex: 0 1 28%;
  margin: 1%;
}
.flex-40 {
  flex: 0 1 28%;
  margin: 1%;
}
.flex-50 {
  flex: 0 1 48%;
  margin: 1%;
}
.text-bold {
  font-weight: 600;
}
a {
  color: black;
  text-decoration: none;
}

.sec-padding {
  padding: 2rem 0;
}

//header

header {
  padding: 2rem 0;
  .container {
    display: flex;
    justify-content: space-between;
  }
  a {
    margin-right: 1rem;
    font-weight: 700;
  }
}
.active-header-nav {
  color: $pri;
}

//popular-sec

.popular-sec {
  .heading-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    li {
      margin-right: 1rem;
      font-size: 1rem;
      font-weight: 700;
    }
  }
}

//single-Article

.single-Article {
  flex: 0 1 20%;
  margin: 1%;
  background-color: $sec;
  padding: 1rem;
  & > * {
    margin-bottom: 2rem;
  }

  h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
  }
  .img-div {
    height: 10rem;
    max-width: 10rem;
    margin: 0 auto;

    img {
      height: 100%;
      width: 100%;
    }
  }
  h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
    color: $pri;
  }
  li {
    margin-bottom: 1rem;

    span {
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      vertical-align: baseline;
    }
    svg {
      margin-right: 0.5rem;
      height: 2rem;
      width: 2rem;
    }
    .bi-person-fill {
      color: #ffbf74;
    }
    .bi-star-fill {
      color: #ffd700;
    }
    .bi-github {
      color: #95caf3;
    }
    .bi-exclamation-triangle-fill {
      color: #f18a93;
    }
  }
}

//battle-sec

.battle-sec {
  h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin: 2rem 0;
  }
  .flex-30 {
    padding: 1rem;
    & > * {
      margin-bottom: 1rem;
    }
    h3 {
      text-align: center;
      font-size: 2rem;
      font-weight: 800;
    }

    svg {
      height: 7rem;
      width: 7rem;
      background-color: $sec;
    }
    .bi-people-fill {
      color: #ffbf74;
    }
    .bi-x-octagon-fill {
      color: #727272;
    }
    .bi-award {
      color: #ffd700;
    }
  }
}

.battle-div {
  input {
    width: 60%;
    margin-right: 2rem;
    padding: 0.5rem 0;
    &::placeholder {
      font-size: 1rem;
      padding-left: 1rem;
    }
  }
  button {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.541);
    color: white;
  }
  .active {
    background-color: rgb(5, 104, 18);
    color: white;
  }
  h3 {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: $pri;
  }
}

.battle-btn-div {
  padding: 3rem 0;
  button {
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    background-color: $pri;
    color: white;
  }
}
.battle-Home-card {
  padding: 1rem;
  background-color: $sec;
  border: 1px solid gray;
}
.battle-Home-img-div {
  height: 4rem;
  width: 4rem;

  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
}

//battle-result-sec

.battle-result-sec {
  h2 {
    font-size: 3rem;
    font-weight: 800px;
    text-align: center;
  }
}
.result-div {
  justify-content: space-evenly;
  margin-top: 2rem;
}
.result-card {
  padding: 1rem;
  background-color: $sec;
  border-radius: 10px;
  & > * {
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 1.2rem;
    color: $pri;
    text-align: center;
  }
  .img-div {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 6rem;
      width: 6rem;
      border-radius: 10px;
    }
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: $pri;
  }
  h4 {
    font-size: 0.8rem;
    font-weight: 700;
    text-align: center;
  }
  ul {
    & > * {
      margin-bottom: 0.5rem;
    }
    padding: 1rem;
    li {
      svg {
        margin-right: 1rem;
        height: 2rem;
        width: 2rem;
      }
      span {
        font-size: 1rem;
      }
    }
  }
}
