/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
//loader

.svgLoader {
  animation: spin 0.5s linear infinite;
  margin: auto;
}
.divLoader {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
//our css
$pri: #bb2e1f;
$sec: #ebebeb;
.container {
  max-width: 1300px;
  margin: 0 auto;
}
body {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.flex {
  display: flex;
}
.fw {
  flex-wrap: wrap;
}
.center {
  justify-content: center;
  align-items: center;
}
.flex-30 {
  flex: 0 1 28%;
  margin: 1%;
}
.text-bold {
  font-weight: 600;
}
a {
  color: black;
  text-decoration: none;
}

.sec-padding {
  padding: 2rem 0;
}

//header

header {
  padding: 2rem 0;
  .container {
    display: flex;
    justify-content: space-between;
  }
  a {
    margin-right: 1rem;
    font-weight: 700;
  }
}
.active-header-nav {
  color: $pri;
}

//popular-sec

.popular-sec {
  .heading-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    li {
      margin-right: 1rem;
      font-size: 1rem;
      font-weight: 700;
    }
  }
}

//single-Article

.single-Article {
  flex: 0 1 20%;
  margin: 1%;
  background-color: $sec;
  padding: 1rem;
  & > * {
    margin-bottom: 2rem;
  }

  h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
  }
  .img-div {
    height: 10rem;
    max-width: 10rem;
    margin: 0 auto;

    img {
      height: 100%;
      width: 100%;
    }
  }
  h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
    color: $pri;
  }
  li {
    margin-bottom: 1rem;

    span {
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      vertical-align: baseline;
    }
    svg {
      margin-right: 0.5rem;
      height: 2rem;
      width: 2rem;
    }
    .bi-person-fill {
      color: #ffbf74;
    }
    .bi-star-fill {
      color: #ffd700;
    }
    .bi-github {
      color: #95caf3;
    }
    .bi-exclamation-triangle-fill {
      color: #f18a93;
    }
  }
}

//battle-sec

.battle-sec {
  h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin: 2rem 0;
  }
  .flex-30 {
    background-color: $sec;
    padding: 1rem;
    & > * {
      margin-bottom: 1rem;
    }
    h3 {
      text-align: center;
      font-size: 2rem;
      font-weight: 800;
    }

    svg {
      height: 7rem;
      width: 7rem;
      background-color: $sec;
    }
    .bi-people-fill {
      color: #ffbf74;
    }
    .bi-x-octagon-fill {
      color: #727272;
    }
    .bi-award {
      color: #ffd700;
    }
  }
}
